/* header and nav layout */
header .nav-wrapper {
  color: var(--background-color);
  width: 100%;
  z-index: 1000;
  position: fixed;
  padding: 10px 20px;
  box-sizing: border-box;
}

header nav {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand hamburger' var(--nav-height)
    'sections sections' 1fr / 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--heading-font-family);
}

header nav[aria-expanded='true'] {
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  grid-template:
    'brand hamburger' var(--nav-height)
    'sections sections' 1fr / 1fr auto;
  overflow-y: auto;
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 44px;
  color: white;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 44px;
  display: flex;
  align-items: center;
}

header nav[aria-expanded='true'] .nav-hamburger {
  position: relative;
  z-index: 1001;
}

header nav .nav-hamburger button {
  height: 44px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 40px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 4px;
  border-radius: 4px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -12px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 12px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 44px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 6px;
  left: 2px;
  transform: rotate(45deg);
  transform-origin: 4px 2px;
  width: 48px;
  height: 4px;
  border-radius: 4px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 6px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-l);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
}

header nav[aria-expanded='true'] .nav-brand {
  position: relative;
  z-index: 1001;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: flex;
  visibility: visible;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav[aria-expanded='true'] .nav-sections ul {
  font-size: var(--heading-font-size-xl);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav[aria-expanded='true'] .nav-sections ul > li {
  margin: 16px 0;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}
