.carousel .carousel-slides-container {
  position: relative;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align='center']) {
  align-items: center;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align='right']) {
  align-items: flex-end;
}

.carousel .carousel-slide .carousel-slide-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.carousel .carousel-slide .carousel-slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .carousel-slide .carousel-slide-image video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-slide .carousel-slide-content {
  z-index: 1;
  margin: 0;
  padding: 32px;
  color: white;
  background-color: transparent;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.carousel .carousel-slide .carousel-slide-content p {
  margin: 0;
}

.carousel .carousel-slide-indicators {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 8px;
  padding: 20px 32px;
  background-color: transparent;
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.carousel .carousel-slide-indicator {
  flex: 1;
  max-width: 120px;
}

.carousel .carousel-slide-indicator button {
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.carousel .carousel-slide-indicator button .progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  transition: width 0.1s linear;
}

.carousel .carousel-slide-indicator button:not(:disabled):hover .progress-bar {
  background-color: rgba(255, 255, 255, 1);
}

.carousel .carousel-navigation-buttons {
  display: none;
}

@media (width >= 600px) {
  .carousel .carousel-slide .carousel-slide-content {
    font-size: 32px;
    padding: 40px;
  }
}
